# Server
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3001

# MongoDB
MONGODB_URI=mongodb+srv://noreplyapnishop_db_user:HcoFANEeMJhbg4Ho@cluster0.e3i4utt.mongodb.net/

# JWT
JWT_SECRET=change-this-to-a-long-random-secret
JWT_EXPIRES_IN=7d



CLOUDINARY_CLOUD_NAME=dhzc4kxqv
CLOUDINARY_API_KEY=254964933696724
CLOUDINARY_API_SECRET=0qVQZNPxltqlfo3ZS2x2d_pQDzE

# Admin seed (optional - used by seed script)
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=ChangeMe123!
